@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background-size: cover;
   
  }
  
  .logo{
    width: 80px;
    height: 80px;  
  }
 

  nav{
      display: flex !important;
      align-items:center !important;
      justify-content: space-around !important;
      min-height:8vh !important;
      background-color: #294674;
  }

  .ham{
    display:none;
    background-color:transparent;
    cursor: pointer;
    border:none;
    margin:0;
    padding:0;
    }
    
    .ham span{
        background-color: #f3f3f3;
        display:block;
        height:3px;
        width: 28px;
        margin:10px auto;
        border-radius:2px;    
    }
  .enlaces-menu{
      display:flex;
      padding:0;
  }
  .enlaces-menu li{
      padding: 0 40px;
      list-style-type: none;
      transition: 0.3s;
  }

  .enlaces-menu li a{
      text-decoration:none;
      font-size: 1.8rem;
      color:#f3f3f3;
      font-weight:600;
  }
  .enlaces-menu li:hover{
      background-color:rgb(62, 130, 197);
      
  }

  /*===================SLIDER DE IMAGENES==========================*/

.carousel{
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;

}  

.carousel-inner {
  max-height:39rem !important;
}

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
  max-height:30rem !important;
  width:50%;
}


/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
  margin:0 !important;
  padding:0 !important;
}
#numeros-local div {
  padding: 0 20px 0 0;   
  text-align:left;
  height:48px;
}

#numeros-local div:not(:last-child) {
  border-right: 2px solid #3f3f3f;
}
#numeros-local div:not(:first-child) {
  padding-left:20px;
}

#numeros-local p{
  margin:0;
}

/* DISPOSITIVOS MOVILES */

  @media (max-width:768px) {
    body{
      overflow:hidden;
    }
      .ham{
          display:block;
          cursor:pointer;
          position: absolute; 
          top:15px;
          right:25px;
          transition: 0.2s  0.1s; 
  
      }
   
      
      nav{
          flex-direction:column;
          align-items: flex-start;
          padding-top: 25px;
          padding-bottom: 25px;
      }

      .logo{
        padding-left:25px;
        
      }

      .enlaces-menu{
        
          flex-direction:column;
          justify-content: space-around;
          align-items:center;
          height: 92vh;         
          margin:0;
          padding:0; 
          display:none;
          opacity:0;
          transition: opacity 5s ease-out;
          width:100%;
      
         
      }
      .enlaces-menu li{
        text-align:center;
        width:100%;
        padding:20px;    
    }
  
}

/* Animaciones */
  
@keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .enlaces-menu.activado{
      display:flex; 
      animation: muestraMenu 350ms ease-in-out both;
  }

  .br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  
  .br-2.animado{
    opacity: 0;
  }
  .br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
  }

 .ham.girar:hover{
     transform:rotate(360deg);
 }

 /*=========================FOOTER================================*/

footer {
  background: #1b2a4e;
  min-height: 100px;;
}
footer p{
  color:#f3f3f3;
  text-align:center;
}
#iconos  img {
  width: 36px;
  height: 36px;
  position: relative;
  margin: 20px;
  }


 /*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
  #intro, #equipo {
      width:90% !important;
      margin:auto;
  }

  #local {
      flex-wrap: wrap;
      padding-top:30px;
 }
 .wrapper-local {
  width:90%;
  margin:auto;
  padding-top:50px;    
 }

}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

  #intro, #equipo{
      width:90% !important;
      margin:auto;
  }

  
  #img-equipo{
      max-height:20rem !important;
      width:90%;
  }
  .wrapper-local {
      width:90%;
      margin:auto;
      padding-top:50px;    
  }
  #local {
      flex-wrap: wrap;
  }
  .mapa img {
      width:100%;
      height:auto;
}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
  #intro, #equipo{
    width:90% !important;
    margin:auto;
}


#img-equipo{
    max-height:20rem !important;
    width:90%;
}
.wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
}
#local {
    flex-wrap: wrap;
}
.mapa img {
    width:100%;
    height:auto;
}


  .icono-wrap{
      flex-wrap:wrap !important;
      justify-content: center !important;
      text-align: center;
  }
}
}