/*=======MENU DE NAVEGACION========*/
body {
    margin: 0;
    padding: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background-size: cover;
   
  }
  
  .logo{
    width: 80px;
    height: 80px;  
  }
 

  nav{
      display: flex !important;
      align-items:center !important;
      justify-content: space-around !important;
      min-height:8vh !important;
      background-color: #294674;
  }

  .ham{
    display:none;
    background-color:transparent;
    cursor: pointer;
    border:none;
    margin:0;
    padding:0;
    }
    
    .ham span{
        background-color: #f3f3f3;
        display:block;
        height:3px;
        width: 28px;
        margin:10px auto;
        border-radius:2px;    
    }
  .enlaces-menu{
      display:flex;
      padding:0;
  }
  .enlaces-menu li{
      padding: 0 40px;
      list-style-type: none;
      transition: 0.3s;
  }

  .enlaces-menu li a{
      text-decoration:none;
      font-size: 1.8rem;
      color:#f3f3f3;
      font-weight:600;
  }
  .enlaces-menu li:hover{
      background-color:rgb(62, 130, 197);
      
  }


/*==================================
    SECCION FORMULARIO DE CONTACTO
====================================*/

/* estilos  */

/* estilos generales */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.alert{
  display: block;
  padding: 12px 20px;
  background: #f8d7da;
  color: #721c24;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
}

.contenedor{
  width: 90%;
  max-width: 1000px;
  background: #fff;
  padding: 40px;
  margin: 20px auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.contenedor h1{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  color: #15CF8A;
}

.contenido{
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.contenido .info,
.contenido .formulario{
  width: 50%;
}

/* ===========================================
Estilos info
============================================== */
.info{
  padding-left: 10px;
}

.info .col{
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  font-size: 16px;
  align-items: center;
  flex-wrap: nowrap;
}

.info .col .icono{
  color: #15CF8A;
  margin-right: 10px;
}

.info .col p{
  color: #999;
}

.info .redes-s{
  width: 100%;
  overflow: hidden;
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
}
.info .redes-s a{
  display: flex;
  width: 40px;
  height: 40px;
  background: #15CF8A;
  color: #fff;
  margin: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
}
.info .redes-s a:hover{
  box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);

}

/* ===========================================
Estilos formulario
============================================== */

.formulario{
  padding-left: 10px;
}

.formulario input[type='text'],
.formulario textarea{
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  border: 1px solid #999;
  color: #999;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  outline: 0;
}

.formulario textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 200px;
}

.formulario input[type='text']:focus,
.formulario textarea:focus{
  border: 1px solid #15CF8A;
}

.formulario button{
  padding: 12px 30px;
  border: transparent;
  background: #15CF8A;
  color: #fff;
  cursor: pointer;
  float: right;
}

  .form-line{
    border-right: 1px solid #B29999;
  }
  
  .form-group{
    margin-top: 10px;
  }
  label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form-control{
    font-size: 1.3em;
    color: #080808;
  }
  textarea.form-control {
      height: 135px;
     /* margin-top: px;*/
  }
  
  .submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
  
  }

  /*====================================
      SECCION NUESTRO EQUIPO IMAGEN
  ======================================*/



#img-equipo{
    max-height:30rem !important;
    width:50%;
}


/*====================================
     SECCION NUESTRO EQUIPO MAPA
======================================*/


#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 100px; 
}

.mapa {
    background: url(../img/MAPA.jpg);
    width:100%;
    height:500px;
    margin-left: 100px;
}


.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
    margin-right: 765px;
}


/*================================
      SECCION LAS CONDES
==================================*/

#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;
  }
  footer p{
    color:#f3f3f3;
    text-align:center;
  }


  /*======================MEDIA QUERIES FORMULARIO DE CONTACTO=====================*/
  @media (max-width: 520px){
    .contenedor{
        padding: 40px 20px;
    }
 
    .contenido .info,
    .contenido .formulario{
        width: 100%;
        padding: 0px;
    }
 
    .contenido .info{
        margin-bottom: 30px;
    }
 }
 
 @media (max-width: 800px){
   
     .contenido .info,
     .contenido .formulario{
         width: 100%;
         padding: 0px;
     }
  
     .contenido .info{
         margin-bottom: 30px;
     }
  }

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
    
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 .form-group {
    width:90% !important;
    margin:auto;

 }
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }

    .form-group {
        width:90% !important;
        margin:auto;
}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}
}